<table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer" role="grid" aria-describedby="datatable_info">
    <thead class="thead-light">
        <tr role="row">
            <th aria-label="Full name">Brand</th>
            <th aria-label="Name">Description</th>
            <th aria-label="price">Price</th>
            <th aria-label="Code company">Code</th>
            <th aria-label="Date capture">Date time</th>
        </tr>
    </thead>
    <tbody>
        
        <% @list.each do |product| %>
        <tr role="row" class="odd">
            <td class="table-column-ps-0"><%= product[:brand] %></td>
            <td><%= product[:name] %></td>
            <td>$ <%= product[:price] %></td>
            <td>
                <a href='<%= product[:url] %>'>
                    <%= product[:sku] %>
                </a>
            </td>
            <td><%= product[:created_at] %></td>
            <td>
                <div class="input-group mb-3">
                    <%= button_to "See more", detail_path(product[:id]), :id => "open-contacts-dialog-btn", :class => "btn btn-primary btn-sm", :method => :get %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

