<%= form_tag(root_path, method: "get") do %>

    <span>Productos</span>
        <%= select_tag :brand, options_from_collection_for_select(@productos.uniq, "brand", "brand", params[:brand]),  class: "form-control" %>
    <span>Sitios</span>
        <%= select_tag :site_captures_id, options_from_collection_for_select(SiteCapture.all, "id", "name", params[:scrapper_results]), class: "form-control" %>
    <span>glosa</span>
        <%= select_tag :glosa, options_from_collection_for_select(@productos.uniq, "glosa", "glosa", params[:scrapper_results_glosa]),  class: "form-control" %>
 <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
     
<% end %>

 <canvas id="myChart" width="200px" height="100px" data-labels="<%= @b %>" data-data="<%= @data_values %>" ></canvas>

